<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">

        <li class="nav-item">
          <a class="nav-link text-muted" href="#">フレンド検索</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-muted" href="#">コミュニティーボード</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-muted" href="#">サークル</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-muted" href="#">League of Friendsについて</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-muted" href="#">お問い合わせ</a>
        </li>

    </ul>
    <p class="text-center text-muted">
      League of Friendsは、ライアットゲームズが公式承認するものではなく、ライアットゲームズ又はリーグ・オブレジェンドの製作・管理に正式に関与したいかなる者の見解・意見に基づくものではありません。<br />
      リーグ・オブ・レジェンド及びライアットゲームズは、Riot Games,Incの商標または登録商標です。　リーグ・オブ・レジェンド &copy; Riot Games, Inc <br />
      &copy; 2022 League of Friends
    </p>
  </footer>
</div>